*{font-family: "Roboto Condensed", sans-serif;}
.admin-sidebar { display: block; padding: 10px 15px; cursor: pointer;}
.side-active { transition: color 0.5s, background 0.5s; color: white; background: #6b6b80; font-weight: bold;}
.inactive { transition: color 0.5s, background 0.5s; color: black; background: none;}
.logout-icon {cursor: pointer;}
.btn-transparent{background: transparent;}
.dropdown-messages{width: 20px;}
.logout-btn {padding: 0px;background: none; margin-left: -1px;text-align: left;}
.top-icons{transition: color 0.5s, background 0.5s;color: black;background: none;}
.top-icons:hover{transition: color 0.5s, background 0.5s;color: black;background: transparent;}
.center-text { text-align: center;}
.left-text { text-align: left;}
.right-text { text-align: right;}
.btn-no-padding{ transition: color 0.5s; padding: 0px; }
.btn-no-padding:hover{ transition: color 0.5s; color: #333; }
.right-navbar-options {	color: #6b6b80;}
.logout-icon { cursor: pointer;}
.panel-left-right {margin-left: -15px; margin-right: -15px;}
.sidenote{ font-style: italic; font-size: 11px;}
.error-messages{ font-size: 12px; font-weight: bold; text-align: center; width: 100%; color: red;}
.valid-office-name {color: green;}

.error-messages-div {text-align: left;}
.error-messages-red {color: #a94442; background-color: #f2dede; border-color: #ebccd1; border-radius: 3px; padding: 7px;}
.error-messages-warn {color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; border-radius: 3px; padding: 7px;}
.error-messages-transparent { background-color: transparent; border-color: transparent; border-radius: 3px; padding: 7px; }
.error-messages-green { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; border-radius: 3px; padding: 7px;}

#map{ background: red; width: 100%; height: 400px;}
/* OVERWRITTEN CLASSES */
.alert { padding: 9px; margin-bottom: 0px;}
